<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Plus54PortfolioRedesign2014Entities" connectionString="metadata=res://*/Plus54PortfolioRedesign2014Model.csdl|res://*/Plus54PortfolioRedesign2014Model.ssdl|res://*/Plus54PortfolioRedesign2014Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Plus54PortfolioRedesign2014;persist security info=True;user id=portfolio;password=portfolio;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>