<!doctype html>
<html class="no-js" lang="en" ng-app="portfolio">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Plus 54 | Porfolio - @ViewBag.Title</title>
        <link rel="stylesheet" type="text/css" href="~/css/foundation.min.css" />
        <link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' />
        <link rel="stylesheet" type="text/css" href="~/css/offcanvas.css">
        <link rel="stylesheet" type="text/css" href="~/css/app.css" />
        <script type="text/javascript" src="~/js/vendor/modernizr.js"></script>
        @RenderSection("head", required: false)
        <!--[if gte IE 9]> <style type="text/css"> .gradient { filter: none; }</style> <![endif]-->
    </head>
    <body>
        <header id="topPage" data-magellan-target="topPage" data-animation-easing="ease-in-out">
            <!-- Nav Top Secundary -->
            <section class="fullWidth navTopSecundary hide-for-small-only text-right row">
                <ul class="secundaryMenuTop columns">
                    <li><a href="#">Careers</a></li>
                    @if (Plus54PortfolioRedesign2014.Web.SessionHelper.IsSignedIn) {
                    <li><a href="/Home/Logout">log out</a></li>
                    }
                </ul>
            </section>
            <!-- Header Nav Principal -->
            <section class="header">
                <div class="row align-bottom fullWidth">
                    <div class="small-10 medium-4 columns">
                        <h1 class="logo"><a href="#topPage"></a></h1>
                    </div>
                    <div class="small-2 medium-8 columns outPaddingLateral text-right">
                        <nav>
                            <!-- toggle -->
                            <div class="title-bar" data-responsive-toggle="menuPlus" data-hide-for="medium">
                                <!--<button class="menu-icon show-for-small-only " type="button" data-toggle></button>-->
                                <a id="nav-toggle" href="#" data-toggle class="show-for-small-only"><span></span></a>
                            </div>
                            <!-- End toggle -->
                            <ul id="menuPlus" class="vertical medium-horizontal navPrincipal" data-magellan>
                                <li><a href="http://www.plus54.com/#home">Home</a></li>
                                <li><a href="http://www.plus54.com/#whyPlus">Why Plus 54</a></li>
                                <li><a href="http://www.plus54.com/#ourProcess">Process</a></li>
                                <li><a href="http://www.plus54.com/#capabilities">Capabilities</a></li>
                                <li><a href="http://www.plus54.com/#ourStory">Our Story</a></li>
                                <li><a href="http://www.plus54.com/#contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>
        </header>
        
        @RenderSection("body", required: true)
        
        <!-- end primary role -->
        <footer>
            <div class="row fullWidth">
                <div class="small-12 medium-4 columns" data-magellan>
                    <a href="#topPage" class="logo"></a>
                </div>
                <div class="small-12 medium-8 columns medium-text-right align-middle">
                    <!--<ul class="listLegal">
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>-->
                    <address>
                        <span class="copyright">© 2016 Plus 54 </span> <span class="divider">|</span>
                        <span class="data">Cleveland <a href="tel:+12162822100">1-216-282-2100</a></span>
                        <span class="divider">|</span>
                        <span class="data">Buenos Aires <a href="tel:+541152381026">+54-11-5238-1026</a></span></address>
                    </div>
                </div>
                <!-- icons Footer -->
                <div class="row fullWidth outPadding">
                    <div class="columns iconsLinks">
                        <hr>
                        <ul>
                            <li><img src="/img/iso-1.png" alt="Managment System Iso 9001-2008"></li>
                            <li><img src="/img/iso-2.jpg" alt="Iso 9001 Quality"></li>
                            <li><a href="https://servicios1.afip.gov.ar/clavefiscal/qr/response.aspx?qr=d2FadF8m9bLt7KUhjhmD2w,," target="_blank"><img src="/img/afip.jpg" alt="Data Fiscal"></a></li>
                            <li><a href="https://www.linkedin.com/company/plus54" target="_blank"><img src="/img/linkedin.png" alt="Linkedin"></a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
        
        <script type="text/javascript" src="~/js/vendor/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="~/js/foundation.min.js"></script>
        <script type="text/javascript" src="~/js/foundation/foundation.abide.js"></script>
        <script type="text/javascript" src="~/js/foundation/jquery.offcanvas.js"></script>
        <script type="text/javascript" src="~/js/main.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>