<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Plus54PortfolioRedesign2014.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ConnectionString" value="Database.ConnectionString.Local" />
    <!--ENCRYPTION-->
    <add key="Encryption.Pass.Phrase" value="Pas5pr@s" />
    <add key="Encryption.Salt.Value" value="s@1tValue" />
    <add key="Encryption.Hash.Algorithm" value="SHA1" />
    <add key="Encryption.Password.Iterations" value="2" />
    <add key="Encryption.Init.Vector" value="@1B2c3D4e5F6g7H8" />
    <add key="Encryption.Key.Size" value="256" />
    <add key="Encryption.Basic.Pass.Phrase" value="Pas5pr@s" />
    <add key="EnableExTgSoapInspection" value="False" />
    <!--ENCRYPTION-->
  </appSettings>
  <connectionStrings>
    <add name="Database.ConnectionString.Local" connectionString="data source=localhost; Initial Catalog=Plus54PortfolioRedesign2014;persist security info=True;user id=portfolio;password=portfolio;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="Database.ConnectionString.Dev" connectionString="Data Source=dk-devwebsql1.dev.env.digiknow.com;Initial Catalog=Plus54PortfolioRedesign2014;User ID=Plus54PortfolioRedesign2014; Password=5HQ#jPVtfequ;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="Database.ConnectionString.Stage" connectionString="Data Source=dk-stagewebsql1.stage.env.digiknow.com;Initial Catalog=Plus54PortfolioRedesign2014;User ID=Plus54PortfolioRedesign2014; Password=$O*)9xiloDr%;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="Plus54PortfolioRedesign2014Entities" connectionString="metadata=res://*/Plus54PortfolioRedesign2014Model.csdl|res://*/Plus54PortfolioRedesign2014Model.ssdl|res://*/Plus54PortfolioRedesign2014Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Plus54PortfolioRedesign2014;persist security info=True;user id=portfolio;password=portfolio;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <sessionState timeout="20"></sessionState>
    <customErrors mode="Off" defaultRedirect="/Error/Index/">
      <error statusCode="500" redirect="/Error/Error500/" />
      <error statusCode="404" redirect="/Error/Error404/" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <applicationSettings>
    <Plus54PortfolioRedesign2014.Web.Properties.Settings>
      <setting name="UploaderHandlerFolder" serializeAs="String">
        <value>../../Upload/UploadHandler.ashx</value>
      </setting>
      <setting name="TempFolder" serializeAs="String">
        <value>/Media/Temp/</value>
      </setting>
      <setting name="AllowImagesExtensions" serializeAs="String">
        <value>/(\.|\/)(jpe?g|png)$/i</value>
      </setting>
      <setting name="TechnologyFolder" serializeAs="String">
        <value>/Media/Technology/</value>
      </setting>
      <setting name="ProjectCategoryFolder" serializeAs="String">
        <value>/Media/ProjectCategory/</value>
      </setting>
      <setting name="SocialMediaFolder" serializeAs="String">
        <value>/Media/SocialMedia/</value>
      </setting>
      <setting name="ProjectFolder" serializeAs="String">
        <value>/Media/Project/</value>
      </setting>
      <setting name="ScreenSupport" serializeAs="String">
        <value>/Media/ScreenSupport/</value>
      </setting>
    </Plus54PortfolioRedesign2014.Web.Properties.Settings>
  </applicationSettings>
</configuration>

