@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Body {
    <h2>General Error</h2>
    <p>
        An error has ocurred. Sorry for the inconvenience.
    </p>
}
