@model IEnumerable<Plus54PortfolioRedesign2014.Web.Admin.Models.ProjectCategoryModel>
@{
    ViewBag.Title = "Project Category";
    Layout = "~/Areas/Admin/Views/Shared/_emptyLayout.cshtml";
    var entityName = "Project Category";
    var tab1Title = string.Format("List {0}", entityName);
    var tab2Title = string.Format("Add/Edit {0}", entityName);
}
@section MainContent{
    <h2>@ViewBag.Title</h2>
    <p>
        <a href="#addedit" role="button" data-toggle="modal" class="btn btn-inverse" onclick="javascript:reloadCreate(); return false;">Add New</a>
        <a href="#bulkDelete" role="button" data-toggle="modal" class="btn btn-delete btn-inverse btn-toogle hide"
            onclick="javascript:bulkDelete('tblProjectCategories', 'ProjectCategory'); return false;">Delete</a>
    </p>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="tblProjectCategories">
        <thead>
        </thead>
        <tbody>
        </tbody>
    </table>
}
@section JavaScript
{
    <script type="text/javascript">
        $(document).ready(function () {

            initPages('ProjectCategory', '@entityName', '@tab1Title', '@tab2Title');
            Reload();
        });

        var columns = [
                { "sTitle": "<input type='checkbox' name='selectAll' id='selectAll' onclick='javascript:selectAllAjax(\"tblProjectCategories\");' />", "bSortable": false, "sWidth": "35px", "bSearchable": false },
                { "sTitle": 'Name', "bSortable": true },
                { "sTitle": 'Thumbnail', "bSortable": false }
        ]

        function Reload() {
            loadTableContentAjax("tblProjectCategories", "/Admin/ProjectCategory/GetAll", columns);
        }

    </script>
}